{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Comentario{% endblock %}

{% block content %}
{% if title  %}
    <h1 id="comment-css">{{ title }} </h1>
{% else %}
    <h1 id="comment-css">{{ name }} </h1>
{% endif %}
<div class="offset-1 col-10 list-div">
    <h1>Adicione um comentário:</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="comments">Comentário:</label>
            <textarea class="form-control" id="comments" name="comments" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Saveflyctl version</button>
    </form>
    {% for c in comentario %}
    <div class="">
        {{ c.user }} : {{ c.comments }}
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}