{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Favoritos{% endblock %}

{% block content %}
<style> 
.slider-nav {
  margin-left: 100px;
  display: flex;
  column-gap: 1rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 0.6rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}



.col-md-3 .btn {
    color: #dc3545;
    background-color: transparent;
    transition: color 0.3s ease;
    margin-left:  50px;
    margin-top: 20px;
    width: 150px;
    
}

.bi {
    color: #dc3545;
    transition: color 0.3s ease;
}

.col-md-3 .btn:hover {
    color: white;
    background-color: #dc3545;
}

.col-md-3 .btn:hover .bi {
    color: white;
}
</style>
<div class="">
    <div class="content_wrapper">
        <div class="in_column">
            <section class="inner">
                <div class="container">
                    <img src="/media/{{ user.profile_img }}"  style="width: 50%;"  class="image-box" alt="...">
                </div>
            </section>
            <div class="colum">
               
            </div>
        </div> 
        <div>
            <div class="s_column">
                <section>
                    <div>
                        <h2 class="title">  {{ data.name }} </h2>
                    </div>
                </section>
                <section class="full_wrapper">
                    <h3>Sua Watchlist</h3>
                    
                </section>
                       
                <section >
                    <div class="container">
                        
                    <div class="row" >
                        
                        
                      
                            
                                {% for id, poster, tipo  in zipped  %}
                                    {% if tipo == "movie" %}
                                        <div class="col-md-3" >
                                            <a href="{% url 'moviedetail' id %}">
                                                <div >
                                                    <img src="https://image.tmdb.org/t/p/w200{{ poster  }}"  class="image-box image-box1" style="border-radius: 22px;  padding: 10px; margin: 10px;"alt="...">
                                                </div>
                                            </a>
                                            <a href="{% url 'deletefav' 'movie' id %}" >
                                                
                                                <button type="button" class="btn btn-outline-danger">
                                                    <i class="bi bi-x-circle-fill"></i>
                                                        delete
                                                </button>
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="col-md-3" >
                                            <a href="{% url 'tvdetail' id %}">
                                                <div >
                                                    <img src="https://image.tmdb.org/t/p/w200{{ poster  }}"  class="image-box image-box1" style="border-radius: 22px;  padding: 10px; margin: 10px;"alt="...">
                                                </div>
                                            </a>
                                            <a href="{% url 'deletefav' 'tv' id %}" >
                                                
                                                <button type="button" class="btn btn-outline-danger">
                                                    <i class="bi bi-x-circle-fill"></i>
                                                        delete
                                                </button>
                                            </a>
                                        </div>
                                    {% endif %}

                                {% endfor %}
                           
                               
                    </div>
                </section> 
            </div>
          
        </div> 
                
    </div> 
    
</div>  


    
    
</div>
   
{% endblock %}