{% extends "base.html" %}
{% load static %}
{% block title %}
Filmes  por gênero
{% endblock %}


{% block content %}
<div class="row" id="botao" style="padding: 5.2rem; padding-top: 10rem;">
  {% for m in data.results %}
      <div  class=""  style="width: 18rem;">
        <a href="{% url 'moviedetail' m.id %}">
          <img src="https://image.tmdb.org/t/p/w200{{ m.poster_path }}" class="image-box image-box1 item2" alt="...">
          <div class="" style="padding-bottom: 3rem;">
                
          </div>
        </a>
      </div>
  {% endfor %}
</div>
   
{% endblock %}